/* Styles for larger screens */
@media (min-width: 991px) {
  nav {
    flex-direction: row; /* Change to row for desktop */
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .logo-container {
    margin-bottom: 0;
    width: auto;
  }

  .logo-container img {
    max-height: 30px;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-top: 0;
  }

  .nav-links a {
    display: inline;
    width: auto;
    margin: 0 15px;
    padding: 0;
    border-top: none;
  }

  .menu-icon {
    display: none;
  }
}
