/* Styles for PC */
@media (min-width: 991px) {
  .container {
    margin: 30px;
  }

  nav {
    flex-direction: row;
    align-items: center;
    padding: 10px;
    justify-content: space-between; /* Quan trọng: Phân bổ không gian giữa các phần tử */
  }

  .logo-container {
    margin-bottom: 0;
    width: auto;
  }

  .logo-container img {
    max-height: 30px;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    margin-left: 20px; /* Khoảng cách với logo */
    flex-grow: 1; /* Để nav-links chiếm không gian */
    justify-content: center; /* Căn giữa nav-links */
  }

  .nav-links__bar {
    display: flex;
  }

  .nav-links__bar a {
    font-size: 1.4rem;
  }

  .main-nav-link {
    display: inline-block;
    margin: 0 15px;
    padding: 10px;
    border-top: none;
    white-space: nowrap;
  }

  .header__connect {
    display: flex;
    margin-left: auto;
    align-items: center;
  }

  .tel {
    /* width: 100%; */
  }

  .hamburger-icon {
    display: none;
  }

  /* HOMEPAGE MAIN */
  .product-grid {
    flex-direction: row;
    justify-content: center;
  }

  .product-details {
    min-height: 6rem;
  }

  .grid-container {
    justify-content: space-around; /* Distribute cards evenly on larger screens */
    padding: 2rem;
  }
  .grid-card {
    width: calc(33.33% - 2rem); /* 3 cards per row with gap */
  }
  .product-card {
    width: auto;
  }
  .property-card {
    width: 250px;
  }
  .main-image {
    /* width: 500px; */
  }
  .thumbnail {
    /* width: 150px;
    height: 100px; */
  }

  /* Properties */
  .property-grid {
    flex-direction: row; /* Arrange in rows */
    flex-wrap: wrap; /* Allow wrapping to next row */
    justify-content: space-between; /* Distribute space between cards */
  }

  .property-card {
    width: calc(50% - 0.5rem); /* Two cards per row */
  }

  /* Responsive: Poroperties Subpages */
  .subImage-box {
  }

  .thumbnail {
  }

  /* Table */
  .property-table {
    width: 50%;
  }

  .property-table th {
    width: 30%;
  }
}
