/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

/* Variables */
:root {
  --primary-color: #3481c4;
}

/* ========== COMMON ========== */
.container {
  max-width: 1170px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

span {
  color: black;
}

/* ========== HEADER ========== */
.header-body {
  display: flex;
  align-items: center;
  padding: 20px 20px 0;
  background-color: var(--primary-color);
}

.navbar ul {
  display: flex;
}

.navbar {
}

.navbar__item {
  list-style-type: none; /* Loại bỏ dấu chấm */
}

/* Tự thêm riêng */
.header-body .logo {
  width: 120px;
  padding: 10px;
}

.navbar__link {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 20px; /* Có thể mở link phạm vi rộng hơn - chỉnh lại size sau */
}

.header-contact {
  margin-left: auto; /* Kéo Contact qua bên phải */
  display: flex;
  align-items: center;
}

.header-contact-link-tel {
  display: inline-block; /* Để có thể thêm padding */
  padding: 10px 16px;
  font-size: 16px;
  font-weight: 600;
  background: #c3c5d2;
  border-radius: 4px;
  border: 1px dashed #2b325f;
}

.header-contact-text-tel {
  font-size: 16px;
  vertical-align: middle;
  background-color: rgba(43, 50, 95, 0.7);
  color: white;
  padding: 5px;
  border-radius: 4px;
  margin-right: 5px;
}

.header-contact-Kakao {
  margin-left: 24px;
  width: 42px;
  object-fit: cover;
}

/* ========== FOOTER ========== */
.footer {
  padding: 20px;
}

.footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sns-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.sns-list ul {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.sns-list li {
  margin: 0 10px;
}

.footer-top {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #585858;
  width: 100%;
}

.footer-info {
}

.footer-logo-img {
  max-width: 150px;
  margin-bottom: 10px;
}

.company-info {
  text-align: center;
}

.company-info span {
  color: white;
}

.copyright {
  text-align: center;
  font-size: 12px;
  color: black;
  padding: 20px;
}

/* ========== MAIN ========== */
/* ~~~~~ TOUR ~~~~~ */
.tour-wrapper {
  margin-top: 30px;
  background: #ccc;
  padding: 60px;
}

.tour-wrapper a {
  text-decoration: none;
  color: black;
}

.text_wrap {
}

.exhibition_list {
  display: flex;
  gap: 30px;
}

.exhibition_item {
  width: 100%; /* Căn đều size img */
  background: #fff;
  flex: 1; /* Căn đều 3 card */
}

.exhibition_item img {
  width: 100%; /* Giảm size img */
  height: 200px;
  object-fit: cover;
}

.item_text_group {
  padding: 15px;
}

.item_text_group .tit {
  font-size: 20px;
  text-align: center;
  color: blue;
  margin-bottom: 10px;
}

/* ~~~~~ REALITY ~~~~~ */
.reality-list {
  display: flex;
  gap: 20px;
}

.reality-list__item {
  flex: 1 0 30%; /* Chia đều không gian cho 3 item, mỗi item chiếm khoảng 30% chiều rộng */
  box-sizing: border-box; /* Đảm bảo padding và border không làm thay đổi kích thước */
}

.reality-list__item .box {
  width: 100%; /* Đảm bảo box chiếm toàn bộ chiều rộng của li */
  height: 100%;
  border: 1px solid;
}
/* Bo góc */
.rounded {
  border-radius: 10px;
}

.thumb img {
  width: 100%;
  height: 250px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.item-info {
  padding: 10px;
}

.photo-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Chia làm 4 cột bằng nhau */
}

/* Reality Product Page */
.product-photo-wrapper {
  margin-top: 50px;
  width: 80%;
  height: 80%;
}

.main-photo {
  height: 500px; /* Set tạm */
  position: relative;
}

.controls {
  font-size: 100px;
  color: blue;
  position: absolute;
  top: 50%;
  display: flex;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.list-image {
  display: flex;
  width: 100%;
  height: 15%;
  justify-content: space-between;
}

.list-image-file {
  flex: 1;
  padding: 3px;
}

.product-photo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Table Box Con */
table {
  width: 70%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.units {
  font-size: smaller;
  color: gray;
}
